@font-face {
  font-family: 'Geometria';
  font-weight: 700;
  src: url("../../public/fonts/Geometria-Bold.woff") format("truetype");
}

@font-face {
  font-family: 'Geometria';
  font-weight: 500;
  src: url("../../public/fonts/Geometria-Medium.woff") format("truetype");
}

@font-face {
  font-family: 'Geometria';
  font-weight: 400;
  src: url("../../public/fonts/Geometria.woff") format("truetype");
}