@import '~scss-reset/reset.css';
@import 'vars';
@import 'utils';

@import 'fonts';

@import "header";
@import "heroSec";
@import "medeqpSec";
@import "nvsSec";
@import "bfmSec";
@import "ltnsSec";
@import "footer";

@import 'pages/catalogP';
@import 'pages/catalogItemP';

@import "custom/breadcrumb";
@import "custom/catalogItem";
@import "oth/headerCatalog";

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title-default {
  @extend %title-base;
}

html, body {
  height: 100%;
}

body {
  background: $body-bg;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

@import 'adaptive/adaptive';