@import '~scss-reset/reset.css';
@import 'vars';
@import 'utils';

@import 'fonts';

@import "header";
@import "heroSec";
@import "medeqpSec";
@import "nvsSec";
@import "bfmSec";
@import "ltnsSec";

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.title-default {
  @extend %title-base;
}

body {
  background: $body-bg;
}

@import 'adaptive/header-adaptive';
@import 'adaptive/heroSec-adaptive';
@import 'adaptive/medeqpSec-adaptive';
@import 'adaptive/nvsSec-adaptive';
@import 'adaptive/bfmSec-adaptive';
@import 'adaptive/ltnsSec-adaptive';