.nvs-section {
  margin-top: $sts;
}

.nvs-body {
  padding: 20px $default-gap-sides;
}

.nvs-body__swiper-wrap {
  position: relative;
}

.nvs-body__swiper {
  margin-top: 80px;
  width: 92%;
}

.nvs-body__swiper-slide {
  height: auto;
}

.nvs-body__swiper-prev__btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0px;
}

.nvs-body__swiper-next__btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0px;
}

.nvs-body__swiper-prev__btn, .nvs-body__swiper-next__btn {
  border: 1px solid $base-blue;
  border-radius: 50%;
  padding: 5px;
}

.nvs-ico {
  width: 10px;
  height: 10px;
}