.breadcrumb-navigation {
  display: flex;
  justify-content: start;
  align-items: center;

  &__item {
    text-transform: capitalize;
    @include fontz('Geometria', 400, 14px);
    color: $base-dark;
    text-decoration: none;
    margin-right: 12px;

    @media screen and (max-width: 3450px) {
      font-size: 13px;
      margin-right: 10px;
    }

    img {
      margin-left: 5px;
    }
  }
}

