@media screen and (max-width: 996px) {
  .med-eqp__body-me__list {
    grid-template-columns: 1fr 1fr;

    &-item {
      &__img {
        width: 100%;
        max-width: 150px;
        height: 110px;
      }
    }
  }

  .med-eqp__body-me__list-item[data-id='1'] {
    grid-row: 1;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .med-eqp__body-me__list-item__img {
    width: 110px;
    height: 95px;
  }

  .med-eqp__body-me__list-item__title {
    font-size: 15px;
  }

  .med-eqp__body-me__list-item__nextLink {
    font-size: 12px;
  }

  .med-eqp__body-me__list-item[data-id='1'] {
    .med-eqp__body-me__list-item__title-block {
      margin-top: 0;
      align-self: center;
    }
  }
}

@media screen and (max-width: 610px) {
  .med-eqp__body-me__list {
    grid-template-columns: 1fr;
  }

  .med-eqp__body-me__list-item {
    padding: 25px 0 25px 10px !important;
  }
}